.git
.env
.env.*
!.env.example
node_modules
vendor
database/*.sqlite
database/*.sqlite-*
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
bootstrap/cache/*
docker-compose.yml
tests
.phpunit.cache
README.md
